@import url(//db.onlinewebfonts.com/c/0b9856633d4311a19df074ea509d8390?family=Constantia);
@import url(//db.onlinewebfonts.com/c/1de1f763eee3f9755684edc97e0217c0?family=Aramis);
@import url(//db.onlinewebfonts.com/c/1f21b11d0fa4954b7b07e36894c497e7?family=Flareserif+821);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 3px;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}

*::-webkit-scrollbar-track {
    background-color: #1f1d1d;
}

body {
    background-color: rgb(14, 14, 14);
    width: 100vw;
    margin-top: 0%;
    margin-left: 0%;
    overflow-x: hidden;
}

.homePage {
    display: flex;
    justify-content: center;
}

.wallpaper {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
}

.wallpaper img {
    transform: scale(2);
    opacity: 50%;
}

.logoHp {
    /* border: 1px solid #d0ff00; */
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: center;
}

.textoCentral {
    animation: opacidade 3s;
    position: relative;
    top: 25vh;
    /* border: 1px solid #d0ff00; */
    width: 100%;
    height: 50vh;
}

.textoCentral h1 {
    font-family: "Constantia";
    font-weight: 400;
    display: flex;
    font-size: 60px;
    justify-content: center;
    /* border: 1px solid #d0ff00; */
}

.textoCentral .title {
    color: rgb(255, 255, 255);
}

.textoCentral h2 {
    font-family: "Constantia";
    font-weight: 100;
    font-size: 35px;
    color: rgb(203, 204, 204);
    display: flex;
    justify-content: center;
    /* border: 1px solid #d0ff00; */
}

.textoCentral i {
    margin-top: 50px;
    width: 100vw;
    display: flex;
    justify-content: center;
    /* border: 1px solid #d0ff00; */
    font-size: 50px;
    color: aliceblue;
    font-weight: 100;
}

.conteudoHome {
    z-index: 2;
    width: 100%;
    height: 100vh;
    /* border: 1px solid #d0ff00;  */
}

.menuSuperior {
    position: fixed;
    padding: 20px;
    color: white;
    display: flex;
    width: 100vw;
    /* border: 1px solid #6a00ff; */
}

.convCmg {
    transition: all .5s;
    justify-content: start;
    font-size: 20px;
    width: 80vw;
    /* border: 1px solid #d0ff00;  */
}

.redesSociais {
    transition: all .5s;
    display: flex;
    justify-content: end;
    width: 20vw;
    /* border: 1px solid #d4ff00;  */
}

.menuSuperior a {
    font-family: "Aramis";
    margin-left: 10px;
    position: relative;
    bottom: 8px;
    color: white;
    text-decoration: none;
}

.menuSuperior i {
    font-size: 35px;
}

.degrade {
    position: absolute;
    left: 0vw;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(20deg, rgb(0, 0, 0), rgba(0, 0, 0, 0.000));
}

.textoCentral img {
    height: 100px;
}

header {
    z-index: 10;
    position: fixed;
    padding-top: 40px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    z-index: 10;
    height: 50px;
    padding-top: 10px;
}

.menuAnimate {
    background-color: rgb(14, 14, 14);
    width: 100vw;
    height: 60px;
    box-shadow: 0px 2px 15px rgb(0, 0, 0);
}

.modalContainer {
    z-index: 2;
    justify-content: end;
    align-items: end;
    position: fixed;
    top: 100px;
    height: 80vh;
    left: 0px;
    width: 100vw;
    display: none;
    animation: modal .5s;
}

.modalContainer.mostrar {
    display: flex;
}

.notification {
    box-shadow: 0px 2px 25px rgb(0, 0, 0);
    border-top-left-radius: 10px;
    padding: 15px;
    width: 40vw;
    background-color: rgb(29, 29, 29);
}

.notification div {
    font-size: 10px;
    font-family: "Flareserif 821";
    display: flex;
    justify-content: start;
}

.notification h1 {
    color: rgb(248, 248, 248);
    margin-top: 10px;
}

.notification h2 {
    color: #ffffff;
    margin-top: 10px;
}

.notification button {
    border-radius: 5px;
    color: rgb(255, 255, 255);
    width: 200px;
    border: none;
    box-shadow: 0px 2px 5px rgb(0, 0, 0);
    padding: 10px;
    font-family: "Aramis";
    font-weight: 900;
    font-size: 15px;
    cursor: pointer;
    background-color: #308a00;
}

.notification .fechar {
    width: 10px;
    height: 10px;
}

.notification .fechar {
    border-radius: 50%;
    color: rgb(0, 0, 0);
    width: 20px;
    height: 20px;
    border: none;
    box-shadow: 0px 2px 2px rgb(0, 0, 0);
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: 15px;
    position: relative;
    cursor: pointer;
    top: -10px;
    left: 10px;
    background-color: #3a3333;
}

.notification .buttonFechar {
    display: flex;
    justify-content: end;
}

.notification img {
    height: 50px;
}