.menuSuperior  :hover{
    transition: all .5s;
    letter-spacing: 1px;
    color: rgb(201, 198, 198);
}

.box:hover div{
    z-index: 3;
    transition: .2s;
    opacity: 10%;
    transform: scale(1.05);
}




/* .convCmg a :hover{
    border-radius: 20px;
    padding: 7px;
    background-color: rgb(26, 25, 25);
    box-shadow: 0px 5px 5px black;
} */


@keyframes opacidade {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}


[data-anime] {
    opacity: 0;
    transition: .5s;
  }
  
  [data-anime="left"] {
    transform: translate3d(-100px, 0, 0);
  }
  
  [data-anime="right"] {
    transform: translate3d(100px, 0, 0);
  }
  
  [data-anime="top"] {
    transform: translate3d(0, -100px, 0);
  }
  
  [data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }


@keyframes modal{
  0%{
    opacity: 0%;
    left: 100px;
  }
  100%{
    opacity: 100%;
    left: 0px;
  }
}